@import "vars";

.modal-wrapper{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,.6);
  z-index: 10;
}

.modal{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  height: 200px;
  width: 360px;
  background: #fefefe;
  border: $color-grey;
  border-radius: 2px;
  box-shadow:
  0 9px 46px 8px rgba(0,0,0,0.14),
  0 11px 15px -7px rgba(0,0,0,0.12),
  0 24px 38px 3px rgba(0,0,0,0.2);
  .title{
    width: 100%;
    margin-top: -1px;
    padding: 8px;
    border-radius: 2px 2px 0 0;
    background-color: $color-primary;
  }
  .original-url{
    text-align: center;
    line-height: 150px;
  }
}

.modal-x{
  display: inline-block;
  float: right;
  width: 15px;
  height: 15px;
  position: relative;
  cursor: pointer;
  span{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: .25s ease-in-out;
    background: $color-black;
    border-radius: 9px;
  }
  span:nth-child(1){
    top: 10px;
    transform: rotate(45deg);
  }
  span:nth-child(2){
    top: 10px;
    transform: rotate(-45deg);
  }
}
